body {
    background: #333;
    color: #EEE;
    font-family: monospace;
    margin: 2em;
}

h2 {
    font-size: 1.2em;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 0.3em;
}

a {
    color: #91ff00;
    text-decoration: none;
    font-family: monospace;
}

footer#modificacion {
    margin-top: 3em;
    font-size: 0.9em;
    color: #FEFEFE;
    padding: 0.5em 1em;
    text-align: right;
    border-radius: 4px;
}